---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import AcercaDeMi from "../components/AcercaDeMi.astro";
import Servicios from "../components/Servicios.astro";
import Proyectos from "../components/Proyectos.astro";
import Card from "../components/Card.astro";
import Proceso from "../components/Proceso.astro";
import Precios from "../components/Precios.astro";
import CTA from "../components/CTA.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main>
    <Hero />
    <AcercaDeMi />
    <Servicios />
    <Proyectos />
    <Card />
    <Proceso />
    <Precios />
    <CTA />
    <Contacto />
  </main>
  <Footer />
</Layout>
