---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Proyecto from "../components/Proyecto.astro";
import Experiencia from "../components/Experiencia.astro";
import Habilidades from "../components/Habilidades.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout>
  <main class="w-full max-w-[900px] mx-auto px-6 md:px-8">
    <section id="inicio">
      <Hero />
    </section>
    <section id="experiencia" class="my-24">
      <Experiencia />
    </section>
     <section id="proyectos" class="mt-24">
      <Proyecto />
    </section>
    <section id="habilidades" class="mt-24">
      <Habilidades />
    </section>
    <section id="contacto" class="mt-24">
      <Contacto />
    </section>
  </main>
</Layout>
