<footer class="flex flex-col items-center w-full py-10 px-4">
  <div class="w-full max-w-5xl rounded-xl px-8 py-4 flex flex-col md:flex-row justify-center md:justify-between items-center backdrop-blur-sm glass-container">
    
    <span class="font-medium text-lg mb-4 md:mb-0 text-center md:text-left">
      Luis Salazar
    </span>

    <nav class="flex flex-col md:flex-row gap-4 md:gap-8 items-center">
      <a href="#inicio" class=" hover:text-white transition-colors font-medium">
        Inicio
      </a>
      <a href="#experiencia" class=" hover:text-white transition-colors font-medium">
        Experiencia
      </a>
      <a href="#proyectos" class=" hover:text-white transition-colors font-medium">
        Proyectos
      </a>
      <a href="#habilidades" class=" hover:text-white transition-colors font-medium">
        Habilidades
      </a>
      <a href="#contacto" class=" hover:text-white transition-colors font-medium">
        Contacto
      </a>
    </nav>
  </div>

  <p class="mt-8 text-gray-500 text-sm text-center">
    Inspirado en 
    <a href="https://porfolio.dev" target="_blank" class="text-blue-400 hover:underline">porfolio.dev</a> 
    de <span class="font-bold ">midudev</span>
  </p>
</footer>