---
import HtmlIcon from './icons/html-icon.astro';
import CssIcon from './icons/css-icon.astro';
import JsIcon from './icons/javascript-icon.astro';
import AstroIcon from './icons/astro-icon.astro';
import TailwindIcon from './icons/tailwind-icon.astro';
import WordpressIcon from './icons/wordpress-icon.astro';
import PythonIcon from './icons/python-icon.astro';
import RubiIcon from './icons/ruby-icon.astro'; 
import SqlIcon from './icons/sql-icon.astro';
import GitIcon from './icons/git-icon.astro';
import TerminalIcon from './icons/terminal-icon.astro';
import OpenaiIcon from './icons/openai-icon.astro';
import DjangoIcon from './icons/django-icon.astro';
import LaravelIcon from './icons/laravel-icon.astro';
import PhpIcon from './icons/php-icon.astro';
import VsCodeIcon from './icons/vscode-icon.astro';
import ReactIcon from './icons/react-icon.astro';
import HabilidadesIcon from './icons/habilidades-icon.astro';

---

<section class="py-10">
  <div class="flex items-center gap-2 mb-8 -ml-2">
        <HabilidadesIcon class="w-6 h-6" />
        <h2 class="text-3xl font-bold ">Habilidades técnicas</h2>
    </div>
  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    
    <div class="p-6 rounded-3xl border glass-container">
      <h3 class="text-2xl font-bold mb-8 text-[#4FD1ED]">Frontend</h3>
      <div class="grid grid-cols-3 gap-6">
        <div class="flex flex-col items-center gap-3">
          <HtmlIcon class="w-14 h-14" />
          <span class="text-sm font-medium">HTML</span>
        </div>
        <div class="flex flex-col items-center gap-3">
          <CssIcon class="w-14 h-14" />
          <span class="text-sm font-medium">CSS</span>
        </div>
        <div class="flex flex-col items-center gap-3">
          <JsIcon class="w-14 h-14" />
          <span class="text-sm font-medium">JavaScript</span>
        </div>
        <div class="flex flex-col items-center gap-3">
          <AstroIcon class="w-14 h-14" />
          <span class="text-sm font-medium">Astro</span>
        </div>
        <div class="flex flex-col items-center gap-3">
          <TailwindIcon class="w-14 h-14" />
          <span class="text-sm font-medium">Tailwind</span>
        </div>
        <div class="flex flex-col items-center gap-3">
          <WordpressIcon class="w-14 h-14" />
          <span class="text-sm font-medium">Wordpress</span>
        </div>
      </div>
    </div>

    <div class="p-6 rounded-3xl border glass-container">
      <h3 class="text-2xl font-bold mb-8 text-[#4FD1ED]">Backend</h3>
      <div class="grid grid-cols-3 gap-6">
        <div class="flex flex-col items-center gap-3">
          <PythonIcon class="w-14 h-14" />
          <span class="text-sm font-medium">Python</span>
        </div>
        <div class="flex flex-col items-center gap-3">
          <SqlIcon class="w-14 h-14" />
          <span class="text-sm font-medium">SQL</span>
        </div>
        <div class="flex flex-col items-center gap-3">
          <RubiIcon class="w-14 h-14" />
          <span class="text-sm font-medium">Ruby</span>
        </div>
        <div class="flex flex-col items-center gap-3">
          <PhpIcon class="w-14 h-14" />
          <span class="text-sm font-medium">PHP</span>
        </div>
      </div>
    </div>

    <div class="p-6 rounded-3xl border glass-container">
      <h3 class="text-2xl font-bold mb-8 text-[#4FD1ED]">Herramientas</h3>
      <div class="grid grid-cols-3 gap-6">
        <div class="flex flex-col items-center gap-3">
          <TerminalIcon class="w-14 h-14 text-white" />
          <span class="text-sm font-medium">Terminal</span>
        </div>
        <div class="flex flex-col items-center gap-3">
          <GitIcon class="w-14 h-14" />
          <span class="text-sm font-medium">Git</span>
        </div>
        <div class="flex flex-col items-center gap-3">
          <OpenaiIcon class="w-14 h-14" />
          <span class="text-sm font-medium">OpenAI</span>
        </div>
      </div>
    </div>

    <div class="p-6 rounded-3xl border glass-container">
      <h3 class="text-2xl font-bold mb-8 text-[#4FD1ED]">Aprendiendo</h3>
      <div class="grid grid-cols-3 gap-6">
        <div class="flex flex-col items-center gap-3">
          <DjangoIcon class="w-14 h-14" />
          <span class="text-sm font-medium">Django</span>
        </div>
        <div class="flex flex-col items-center gap-3">
          <LaravelIcon class="w-14 h-14" />
          <span class="text-sm font-medium">Laravel</span>
        </div>
        <div class="flex flex-col items-center gap-3">
          <ReactIcon class="w-14 h-14" />
          <span class="text-sm font-medium">React</span>
        </div>
      </div>
    </div>

  </div>
</section>