---
---

<section id="hero" class="flex flex-col md:flex-row items-center justify-between min-h-screen px-8 py-24 gap-10">

  <!-- TEXTO -->
  <div class="max-w-xl">
    <h1 class="text-4xl md:text-5xl font-bold mb-4">
      Hola, Soy Luis Salazar
    </h1>

    <p class="text-xl text-blue-400 font-semibold mb-4">
      Desarrollador y Diseñador Web
    </p>

    <p class="text-gray-400 mb-8">
      Diseño sitios web modernos, adaptables y centrados en la experiencia
      del usuario. Transformo ideas en plataformas funcionales con pasión,
      detalle y propósito.
    </p>

    <!-- BOTONES -->
    <div class="flex items-center gap-4 flex-wrap">

      <a
        href="#contact"
        class="glass-style px-6 py-3 border rounded-full text-white hover:scale-105 transition inline-flex items-center justify-center h-12"
      >
        Contáctame Ahora
      </a>

      <div class="flex gap-3">

        <a
          href="https://wa.me/522288535112"
          class="glass-style w-12 h-12 border rounded-full flex items-center justify-center text-white hover:scale-110 transition"
        >
          <i class="fa-brands fa-whatsapp"></i>
        </a>

        <a
          href="https://www.linkedin.com/in/luis-gerardo-salazar-aguilar/"
          class="glass-style w-12 h-12 border rounded-full flex items-center justify-center text-white hover:scale-110 transition"
        >
          <i class="fa-brands fa-linkedin-in"></i>
        </a>

        <a
          href="mailto:luisgerdx521@gmail.com"
          class="glass-style w-12 h-12 border rounded-full flex items-center justify-center text-white hover:scale-110 transition"
        >
          <i class="fa-solid fa-envelope"></i>
        </a>

      </div>
    </div>
  </div>

  <!-- FOTO -->
  <div class="w-64 h-64 md:w-80 md:h-80 rounded-full overflow-hidden ">
    <img
      src="/foto-luis.png"
      alt="Foto de Luis Salazar"
      class="w-full h-full object-cover"
    />
  </div>

</section>