---
import WhatsappIcon from "./icons/whatsapp-icon.astro";
import EmailIcon from "./icons/email-icon.astro";
import DownloadIcon from "./icons/download-icon.astro";
---

<section class="flex flex-col items-center justify-center min-h-[100vh] px-6 py-12">
  <div class="flex flex-col md:flex-row items-center gap-8 md:gap-10 max-w-6xl w-full">
    
    <div class="flex-1 order-2 md:order-1 text-center md:text-left">
      
      <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-2">
        hey, <span class="text-cyan-400">soy Luis Salazar</span>
      </h1>

      <h2 class="text-lg sm:text-xl md:text-2xl font-semibold mb-6">
        Desarrollador web <span class="text-sky-400">full stack</span>
      </h2>
      
      <p class="text-base sm:text-lg leading-relaxed mb-8 max-w-md sm:max-w-xl md:max-w-2xl mx-auto md:mx-0">
        Transformo operaciones complejas a través de 
        <span class="text-teal-500">ecosistemas inteligentes usando Ingeniería de Software y Automatización</span>. 
        <span class="font-medium">Experto en integración de Datos, IA y Plataformas Empresariales.</span> 
        No solo escribo código, construyo soluciones.
      </p>

      <div class="flex flex-wrap justify-center md:justify-start gap-3 sm:gap-4">

        <a href="/public/LuisSalazarResume.pdf" download="LuisSalazarResume.pdf" class="flex items-center gap-2 px-5 py-2 border border-slate-700 rounded-full bg-slate-900/50 hover:bg-slate-800 hover:scale-105 transition-all duration-300 glass-boton">
          <DownloadIcon class="w-5 h-5 " />
          <span>Descargar CV</span>
        </a>

        <a href="mailto:luisgerdx521@gmail.com" class="flex items-center p-3 border rounded-full hover:scale-110 transition-all duration-300 glass-boton">
          <EmailIcon class="w-5 h-5 " />
        </a>
        
        <a href="https://wa.me/5228835112" target="_blank" class="flex items-center p-3 border rounded-full hover:scale-110 transition-all duration-300 glass-boton">
          <WhatsappIcon class="w-5 h-5 " />
        </a>
        
      </div>
    </div>

    <div class="flex-shrink-0 order-1 md:order-2">
      <div class="relative w-36 h-36 sm:w-44 sm:h-44 md:w-56 md:h-56 rounded-full overflow-hidden glass-container">
        <img src="/foto-luis.png" alt="Profile" class="w-full h-full object-cover">
      </div>
    </div>

  </div>
</section>