---
interface Plan {
  nombre: string;
  precio: string;
  descripcion: string;
  caracteristicas: string[];
}

const PLANES: Plan[] = [
  {
    nombre: "Landing Page",
    precio: "$3,000",
    descripcion: "Ideal para empezar tu presencia online",
    caracteristicas: [
      "Diseño responsivo",
      "Hosting y dominio por 1 año",
      "Revisiones incluidas",
      "Entrega en 7 días",
      "Formulario de contacto",
      "SEO básico"
    ]
  },
  {
    nombre: "Sitio Informativo",
    precio: "$4,500",
    descripcion: "Ideal para mostrar tu negocio",
    caracteristicas: [
      "Diseño responsivo",
      "Hosting y dominio por 1 año",
      "Diseño UX/UI",
      "Entrega en 15 días",
      "5 a 6 secciones",
      "SEO completo"
    ]
  },
  {
    nombre: "Ecommerce",
    precio: "$6,500",
    descripcion: "Tienda en línea completa",
    caracteristicas: [
      "Diseño personalizado",
      "Hosting y dominio por 1 año",
      "Revisiones incluidas",
      "Entrega 20 a 30 días",
      "SEO avanzado",
      "Productos"
    ]
  }
];
---

<!-- ======================= SECCIÓN DE PRECIOS =========================== -->
<section id="pricing" class="py-24 px-6">

  <!-- Header -->
  <div class="max-w-2xl mx-auto text-center mb-16">

    <h2 class="text-3xl font-semibold mb-4">
      Planes y <span class="text-blue-400">Precios</span>
    </h2>

    <p class="text-gray-400">
      Cada proyecto es diferente. Los precios pueden variar según diseño,
      funciones y alcance del sitio.
    </p>
  </div>

  <!-- Cards -->
  <div class="max-w-5xl mx-auto grid md:grid-cols-3 gap-8 ">
    {PLANES.map((plan) => (
      <div class="border rounded-xl p-8 flex flex-col glass-container">

        <h3 class="text-xl font-semibold mb-2">
          {plan.nombre}
        </h3>

        <p class="text-3xl font-bold mb-2">
          {plan.precio}
        </p>

        <p class="text-sm text-gray-400 mb-6">
          {plan.descripcion}
        </p>

        <ul class="space-y-2 text-sm text-gray-400 mb-8">
          {plan.caracteristicas.map((caracteristica) => (
            <li>{caracteristica}</li>
          ))}
        </ul>

        <a
          href="https://wa.me/522288535112?text=Hola%20quiero%20información"
          class="mt-auto border rounded-full py-2 text-sm font-medium  transition glass-style items-center flex justify-center"
        >
          Cotizar ahora
        </a>

      </div>
    ))}
  </div>

</section>
